:root {
  
  --primary-color: #D8E3E7; 
  --secondary-color :#126E82; 
  --tertiary-color: #51C4D3;
  --quaternary-color: #132C33;
  --quinary-color: #7f9fbc;	
  --senary-color: #1877F2;  
  --septenary-color:#c5000a; 
  --octonary-color: #FFFC00;
  --nonary-color: #ffffff;
  --decenary-color: #000000; 
  --undenary-color: #494949;
  --duodenary-color: #0000ff;
      
  --primary-font-weight:400;
  --primary-font-family: 'Roboto', sans-serif;
  --primary-font-weight: 400;
  --secondary-font-weight:700;
  --primary-font-size: 16px;
  --secondary-font-size:28px;
  --tertiary-font-size:26px;
  --quaternary-font-size:24px;
  --quinary-font-size: 22px;
  --senary-font-size: 20px;
  --septenary-font-size: 18px;
  --primary-line-height: 1.5;

    }

body {
  background-color:#D8E3E7;

  }

li {
  
padding: 5px;
list-style-type: none;
display: inline-block;
       
  }
 
.text-info { 
 
font-size: 28px;
text-align: center;
    
}
